<div id="<%= dom_id mesh %>">
  <p>
    <strong>Name:</strong>
    <%= mesh.name %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= mesh.url %>
  </p>

  <p>
    <strong>Broken:</strong>
    <%= mesh.broken %>
  </p>

</div>
